*{
    box-sizing: border-box;
  }
  html {
    min-height: 100vh;
  }
  body {
    margin: unset;
    padding: unset;
    font-family: 'Montserrat', sans-serif !important;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Nunito', sans-serif !important;
  }